.blogViewSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.blogContainer {
    width: 50vw;
    background-color: rgb(246, 243, 243);
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 38px 0px rgb(208, 203, 203);
}




/* comments section */
.commentSection {
    width: 55vw;
    margin-left: 30px;
    margin-top: 100px;
}

.commentSection > h2 {
    text-align: left;
    margin-left: 20px;
}

.commentsContainer {
    /* background-color: rgb(238, 182, 133); */
    display: flex;
    flex-direction: column;
}

.commentsList {
    
}

.commentContainer {
    /* background-color: lightgoldenrodyellow; */
    background: rgb(178,217,228);
    background: linear-gradient(150deg, rgba(178,217,228,1) 35%, rgba(145,231,249,1) 100%);
    width: 80%;
    padding: 0px 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 0px rgb(166, 165, 165);
    margin-top: 15px;
}


.topSection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.topSection > * {
    margin-bottom: 0px;
    margin-top: 15px;
}

.topSection > h4 {
    border-bottom: 1px solid black;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentTxt {
    padding-bottom: 15px;
    margin-top: 20px;
    text-align: left;
}

.feedbackBox {
    display: flex;
    height: 50%;
    align-items: center;
    
}

.dislikeBtn {
    margin-left: 10px;
}

.feedbackBox > button {
    height: 32px;
    width: 32px;
}


.addCommentBtn {
    margin-top: 25px;
    width: fit-content;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    background: none;
    transition: all ease-in-out 300ms;
    will-change: transform;
}

.addCommentBtn:hover {
    border: 2px solid black;
    transform: translateX(4px) translateY(4px);
}
