.blogViewSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.blogContainer {
    width: 50vw;
    background-color: rgb(246, 243, 243);
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 38px 0px rgb(208, 203, 203);
}




/* comments section */
.commentSection {
    width: 55vw;
    margin-left: 30px;
    margin-top: 100px;
}

.commentSection > h2 {
    text-align: left;
    margin-left: 20px;
}

.commentsContainer {
    /* background-color: rgb(238, 182, 133); */
    display: flex;
    flex-direction: column;
}

.commentsList {
    
}

.commentContainer {
    /* background-color: lightgoldenrodyellow; */
    background: rgb(178,217,228);
    background: linear-gradient(150deg, rgba(178,217,228,1) 35%, rgba(145,231,249,1) 100%);
    width: 80%;
    padding: 0px 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px 0px rgb(166, 165, 165);
    margin-top: 15px;
}


.topSection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.topSection > * {
    margin-bottom: 0px;
    margin-top: 15px;
}

.topSection > h4 {
    border-bottom: 1px solid black;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentTxt {
    padding-bottom: 15px;
    margin-top: 20px;
    text-align: left;
}

.feedbackBox {
    display: flex;
    height: 50%;
    align-items: center;
    
}

.feedbackBox > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 25px;
    padding: 5px 5px;
    padding-bottom: 0px;
    background: none;
    border: none;
}


.likeBtn {

}

.dislikeBtn {
    margin-left: 8px;
    margin-top: 2px;
}

.likeCounter {
    width: 20px;
    text-align: center;
}

.feedbackBox > button > i {
    /* display: block; */
    height: 20px;
    width: 20px;
    transition: all ease-in-out 250ms;
}

.feedbackBox > button > i:hover {
    color: orange;
}

.feedbackBox > button > i:active {
    color: rgb(195, 218, 92);
}

.clickedBtn {
    color: orange;
}



.createCommentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.btnHolder {
    display: flex;
    justify-content: start;
    height: 56px;
    margin-top: 35px;
}

.addCommentBtn {
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    background: none;
    transition: all ease-in-out 300ms;
    will-change: transform;
}

.addCommentBtn:hover {
    border: 2px solid black;
    transform: translateX(4px) translateY(4px);
}

.postBtnHolder {
    display: flex;
    justify-content: start;
    height: 45px;
    margin-top: 20px;
}

.postNewBtn {
    width: fit-content;
    background: none;
    transition: all ease-in-out 300ms;
    will-change: transform;   
}

.postNewBtn:hover {
    border: 2px solid black;
    transform: scale(1.1);
}


