/* Loader */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.loadSpinner {
    height: 40px;
    width: 40px;
    border: 5px solid black;
    border-color: black transparent black transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    
}

/* Profile Component */
.profileSection {
    
}

.profileWelcome {
    color: white;
    margin-top: 80px;
}

.userOptionsContainer > * {
    margin: 5px 0px;
    color: white;
}

.signupLink {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    transition: color ease-in 200ms;
}

.signupLink:hover {
    color: rgb(255, 111, 60);
}

.signinLink {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    transition: color ease-in 200ms;
}

.signinLink:hover {
    color: rgb(255, 111, 60);
}


/* Login Component */
@keyframes expand {
    from {
        transform: scaleY(90%);
    }
    to {
        transform: scaleY(40px);
    }
}

.signinTitle {
    margin-top: 0px;
    color: white;
}

.loginSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginErrContainer {
    height: 30px;
}

.loginErrMsg {
    margin-top: 0px;
}

.loginForm {
    width: fit-content;
    margin: 30px 0px;
    padding: 30px;
    background-color: #518598;;
    border: 2px solid rgb(41, 40, 40);
    border-radius: 15px;
    transition: height 0.5s;
    transform-origin: top;
    box-shadow: 0px 0px 15px rgb(55, 54, 54);
}

.usernameSection, .passwordSection {
    margin-top: 20px;
}

.usernameSection > input, .passwordSection > input {
    padding: 4px;
    font-size: 22px;
}

.loginBtn {
    position: relative;
    margin-top: 15px;
    width: 100%;
    box-shadow: 0px 0px 3px black;
    box-sizing: border-box;
    transition: color 200ms ease-out;
    will-change: transform;
    border: none;
    border-radius: 10px;
}

.loginBtn:hover {
    color: white;
}

.loginBtn::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0074e1;
    z-index: -1;
    opacity: 0;
    transform: scale(0.1);
    transform-origin: center;
    border-radius: 10px;
    transition: all 200ms ease-out;
    will-change: transform;
}

.loginBtn:hover::before {
    opacity: 1;
    transform: scale(1);
    transition: all 200ms ease-out;
    box-shadow: 0px 0px 5px rgb(51, 50, 50);
}


/* Signup Component */
.signupSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupErrContainer > h3 {
    /* min-height: 23px; */
    margin-top: 0px;
}

.signupForm {
    width: fit-content;
    margin-bottom: 40px;
    padding: 20px 30px;
    background-color: #518598;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(55, 54, 54);
}

.signupTitle {
    color: white;
}

.nameInfoContainer > input, .userInfoContainer > input{
    font-size: 18px;
}

.nameInfoContainer {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userInfoContainer > input {
    width: 60%;
}

.signupBtn {
    position: relative;
    margin-top: 30px;
    box-shadow: 0px 0px 4px black;
    box-sizing: border-box;
    transition: color 200ms ease-out;
    will-change: transform;
    border: none;
    border-radius: 10px;
}

.signupBtn:hover {
    color: white;
}

.signupBtn::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0074e1;
    z-index: -1;
    opacity: 0;
    transform: scale(0.1);
    transform-origin: center;
    border-radius: 10px;
    transition: all 200ms ease-out;
    will-change: transform;
}

.signupBtn:hover::before {
    opacity: 1;
    transform: scale(1);
    transition: all 200ms ease-out;
    box-shadow: 0px 0px 5px rgb(51, 50, 50);
}

.formErrContainer {
    height: 120px;
}

.formErr {
    text-align: left;
}