.homePage {
    margin: 30px;
}

/* loading state */
@keyframes rotate {
    100%   {transform: rotate(360deg)}
}
  
@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.loadSpinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

.loadSpinner::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #e29898;
    animation: prixClipFix 1s linear infinite ;
}
/*  */

.topHomeSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100vw;
    margin-bottom: 25px;
    margin-left: 60px;
}

.postSelectionBox {
    display: flex;
    gap: 70px;
    margin-bottom: 15px;
}

.postSelectionBox > button {
    position: relative;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: bold;
    background: none;

    /* for click animation: */
    overflow: hidden;
    background: 
        linear-gradient(to right, rgb(255, 111, 60), rgb(255, 111, 60) 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 200ms ease-out;
}

/* for click animation: */
.postSelectionBox > button.activeBtn {
    background-position: 0 100%;
    transition: background-position 200ms ease-in;
}
/*  */

/* underline animation */
.postSelectionBox > button::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: black;
    width: 0%;
    transition: all ease-out 200ms;
}

.postSelectionBox > button:hover::after {
    width: 100%;
}

.bottomHomeSection {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* left side */
.leftSide {
    width: 65vw;
}

.postsSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 8px;
    row-gap: 8px;
}

.blogCard {
    position: relative;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px;
    box-shadow: 2px 2px 4px 0px hsl(0, 0%, 0%, 0.4);
    overflow: hidden;
    cursor: pointer;
    will-change: transform;
    background-color: white;
}

.blogCard::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #adbbda;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
    z-index: 0;
    opacity: 0.3;
}

.blogCard:hover::before {
    transform: translateX(0);
    transition: transform 400ms ease-in-out;
}


.blogCard * {
    color: black;
}


.cardTitle {
    margin-top: 0px;
}

.postPreview {
    margin-bottom: 40px;
}

.readLink {
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform ease-out 250ms;
}


.readLink:hover {
    transform: scale(1.1);
}

.emptyPosts > svg {
    height: 100px;
}

.emptyPosts > h2 {
    margin-top: 10px;
}


/* right side */
.rightSide {
    width: 27vw;
    padding-left: 28px;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 70px;
    color: white;
    border-radius: 10px;
}

/* search section */
.searchContainer {
    display: flex;
    flex-direction: column;
}

.searchTitle {
    text-align: left;
    margin-bottom: 5px;
}

.searchForm {
    display: flex;
    position: relative;
    width: fit-content;
    margin-bottom: 15px;
    width: 70%;
}

#searchBar {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    background-color: #a8d0e6;
    border: none;
    box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.4);
}

.searchBtn {
    position: absolute;
    background: none;
    padding: 0px;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}

.resetBtn {
    width: 22%;
    padding: 0px;
    text-decoration: underline;
    background: none;
    color: white;
}

/* infoSection */
.infoContainer {
    margin-top: 140px;
}

.contactTitle {
    text-align: left;
}

.githubLink {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: #a9a1a4;
    width: fit-content;
    padding: 4px 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    transition: transform ease-in-out 250ms;
}

.githubLink:hover {
    transform: translateY(-5px);
    color: white;
}

.githubLink > i {
    width: 20px;
    height: 20px;

}


.phoneEmailBox {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.phoneEmailBox > h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}