.homePage {
    margin: 30px;
}

.topHomeSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100vw;
    margin-bottom: 25px;
    margin-left: 60px;
}

.bottomHomeSection {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* left side */
.leftSide {
    width: 65vw;
}

.postsSection {
    background-color: rgb(193, 191, 191);
}


.blogItem h2 {
    margin-top: 0px;
}


/* right side */
.rightSide {
    background-color: greenyellow;
    width: 27vw;
}