.homePage {
    margin: 30px;
}

.topHomeSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100vw;
    margin-bottom: 25px;
    margin-left: 60px;
}

.bottomHomeSection {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* left side */
.leftSide {
    width: 65vw;
}

.postsSection {
    background-color: rgb(193, 191, 191);
}


.blogItem h2 {
    margin-top: 0px;
}


.emptyPosts > svg {
    height: 100px;
}

.emptyPosts > h2 {
    margin-top: 10px;
}


/* right side */
.rightSide {
    background-color: greenyellow;
    width: 27vw;
    padding-left: 28px;
}


/* search section */
.searchContainer {
    display: flex;
    flex-direction: column;
}

.searchTitle {
    text-align: left;
}

.searchForm {
    display: flex;
    position: relative;
    width: fit-content;
    margin-bottom: 15px;
    width: 70%;
}

#searchBar {
    width: 100%;
    padding: 7px;
}

.searchBtn {
    position: absolute;
    background: none;
    padding: 0px;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}

.resetBtn {
    width: 22%;
    padding: 0px;
    text-decoration: underline;
    background: none;
}

/* infoSection */
.contactTitle {
    text-align: left;
}

.githubLink {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

.githubLink > i {
    width: 20px;
    height: 20px;

}


.phoneEmailBox {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.phoneEmailBox > h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}