.createBlogPage, .editBlogPage {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.blogContainer {
    background-color: mistyrose;
    width: 80vw;
    padding: 20px 30px;
}

.blogContainer > h2 {

}

.createBlogForm, .editBlogForm {
    display: flex;
    flex-direction: column;
}

/* left off here... continue to structure form and rest of page */