.blogDashPage {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.postsSection {
    width: 60vw;
    background-color: lightblue;
}

.addPostSection {
    /* display: flex;
    align-items: center; */
    width: 20vw;
    height: 20px;
    background-color: rgb(185, 222, 185);
    height: calc(100vh - 76px)
}

.listContainer {
    margin: 0px 20px;
    overflow-y: scroll;
    max-height: 60vh;
}



/* PostList styling */
.postInfo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.postActions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
}


/* addPostSection styling */
.createNewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 50%;
    border: 3px dashed black;
    border-radius: 20px;
}

.createNewBox {

}

.addSvg {
    margin-left: 25px;
}

