#root {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  text-align: center;
}


/* Nav Bar */
.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links > li {
  list-style-type: none;
}


